.container {
    position: relative; /* Establishes a positioning context */
}

.comment-container{
    position: relative; 
    z-index: 1; 
}

#comment-control {
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    top:74%;
    z-index: 100;
}

#text-editor-container{
    overflow-y: scroll; /* Show vertical scrollbar */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    max-height: 200px;
}

#comment-container{
    height: 65vh;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none; 
    border-radius: 5px;
}

.overlay-element {
    position: absolute; 
    left: 0;
    height: 50px;
    width:50%;
    bottom: 24%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    backdrop-filter: blur(200px); 
    z-index: 10; 
    opacity: 0.4;
    left: 50%;
    transform: translate(-50%, -50%);
  }



