#comment-control {
    position: fixed; /* or absolute */
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
}

#text-editor-container{
    overflow-y: scroll; /* Show vertical scrollbar */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    max-height: 200px;
}