.create-post-modal .ant-modal-content, .ant-modal-title
{
    background: var(--body_modal_background) !important;
    color: var(--body_color) !important;
}

.ant-select-selector {
    background: var(--body_input_background) !important;
    border: 1px solid var(--body_border_color) !important;
    color: #858EAD !important;
}

.ant-select-dropdown{
    background: var(--body_modal_background) !important;
}

.ant-modal-close-x span{
    color: var(--body_color) !important;
}

.ant-select-item-option-content{
    color: var(--body_color) !important;
}

.ant-select-arrow{
    color: var(--body_color) !important;
}

.ant-upload-wrapper{
    margin-top: 25px;
}

.upload-button{
    border: 0;
    background: "none";
    color: #858EAD;
}


.ant-tag svg{
    color: #858EAD;
}

.ant-modal-footer button:nth-of-type(2)
{
    background: #FF4401;
    color: var(--body_color) !important;
    transition: background-color 0.2s ease;
    transition: transform 0.5s;
}

.ant-modal-footer button:nth-of-type(2):hover{
    background: var(--body_modal_background) !important;
    color: #FF4401 !important;
    border: 1px solid #FF4401;
}