.nav-bar{
    background: #262D34;
    padding: 20px;
}

.ant-menu,
.ant-sub-menu,
.ant-menu-item{
    background: #262D34;
    color: #ffffff !important;
}

.ant-menu-item-active,
.ant-menu,
.ant-sub-menu,
.ant-menu-item :hover{
    background: #262D34 !important;
}

.ant-menu-submenu::after{
    border-bottom-width: 0px;
    border-bottom-color:  #262D34 !important;
}

.nav-bar-menu-left{
    padding-left: 10px;
    padding-right: 50px;
}

.nav-bar-button{
    color: #FFFFFF;
    padding: 0px 15px;
}

.navbar-avatar-button{
    display: flex;
    justify-content: center;
}

.nav-bar-button :hover{
    color: #858EAD;
}

.ant-popover-inner{
    background: #2C353D !important;
    color: white !important;
}

.ant-popconfirm-buttons{
    display: none;
}

.ant-popover-arrow::before{
    background: #2C353D !important;
}

.ant-list-item-meta-title a{
    color: white !important;
}

.ant-list-item-meta-title a:hover{
    color: #FF4401 !important;
}

.ant-popover-title{
    color: #FF4401 !important;
}

.ant-empty-description{
    color: white !important;
}



