.nav-bar{
    background: #262D34;
    padding: 20px;
}

.nav-bar-menu-left{
    padding-left: 10px;
    padding-right: 50px;
}

.nav-bar-button{
    color: #FFFFFF;
    padding: 0px 15px;
}

.navbar-avatar-button{
    display: flex;
    justify-content: center;
}

.nav-bar-button :hover{
    color: #858EAD;
}

.input-dark ::-webkit-input-placeholder {
    color: #858EAD !important;
  }
  .input-dark :-moz-placeholder {
    color: #858EAD !important;
  
  }
  .input-dark ::-moz-placeholder {
    color: #858EAD !important;
  }
