.nav-bar{
    background: var(--body_nav_background);
    padding: 20px;
}

.nav-bar-profile-items{
    font-size: 1rem;
    color: var(--body_color);
}

.nav-bar-profile-items span{
    font-size: 1rem;
    color: var(--body_color);
}

.ant-menu,
.ant-sub-menu,
.ant-menu-item{
    background: var(--body_nav_background);
    color: var(--body_color) !important;
    border-bottom: 0px;
}

.ant-menu-item-active,
.ant-menu,
.ant-sub-menu,
.ant-menu-item :hover{
    background: var(--body_nav_background) !important;
}

.ant-menu-submenu::after{
    content: none !important;
}

.nav-bar-menu-left{
    padding-left: 10px;
    padding-right: 50px;
}

.nav-bar-button{
    color: var(--body_color);
    padding: 0px 15px;
    font-size: 1.5rem;
}

.navbar-avatar-button{
    display: flex;
    justify-content: center;
}

.nav-bar-button :hover{
    color: #858EAD;
}

.ant-popover-inner{
    background: var(--body_nav_background) !important;
    color: var(--body_color) !important;
}

.ant-popconfirm-buttons{
    display: none;
}

.ant-popover-arrow::before{
    background: #2C353D !important;
}

.ant-list-item-meta-title a{
    color: var(--body_color);
}

.ant-list-item-meta-title a:hover{
    color: #FF4401 !important;
}

.ant-popover-title{
    color: #FF4401 !important;
}

.ant-empty-description{
    color: var(--body_color) !important;
}



