:root {
  --body_background: #1e252b;
  --body_card_background: #262d34;
  --body_color: white;
  --body_border_color: #2C353D;
  --body_nav_background: #262D34;
  --body_input_background: #2C353D;
  --body_tag_background: #262D34;
  --body_text_editor_background: #2C353D;
  --body_modal_background: #262D34;
}

[data-theme="light"] {
  --body_background: white;
  --body_card_background: #eaebeb;
  --body_color: black;
  --body_border_color: #f0f0f0;
  --body_nav_background: #eaebeb;
  --body_input_background: white;
  --body_tag_background: white;
  --body_text_editor_background: white;
  --body_modal_background: #eaebeb;;
}

[data-theme="dark"] {
  --body_background: #1e252b;
  --body_card_background: #262d34;
  --body_color: white;
  --body_border_color: #2C353D;
  --body_nav_background: #262d34;
  --body_input_background: #2C353D;
  --body_tag_background: #262D34;
  --body_text_editor_background: #2C353D;
  --body_modal_background: #262D34;
}

*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, [role="button"] {
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

::-moz-placeholder {
  opacity: 1;
}

textarea {
  vertical-align: top;
  overflow: auto;
}

[type='checkbox'],
[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body{
  background: var(--body_background);
}

.side-feed{
  padding: 20px;
  padding-top: 0px;
}

.ant-typography {
  color: var(--body_color) !important;
}

.discussify-input{
  background: var(--body_input_background);
  color: var(--body_color);
}

.input ::-webkit-input-placeholder {
  color: #858EAD !important;
}
.input :-moz-placeholder {
  color: #858EAD !important;

}
.input ::-moz-placeholder {
  color: #858EAD !important;
}

input::-webkit-input-placeholder {
  color: #858EAD !important;
}
input :-moz-placeholder {
  color: #858EAD !important;

}
input ::-moz-placeholder {
  color: #858EAD !important;
}

.ant-card{
  border: 1px solid var(--body_border_color);
  border-radius: 5px;
  background: var(--body_card_background);
}

.ant-avatar{
  background: #262D34;
}

.ant-tag{
  background: var(--body_tag_background) !important;
  border: 1px solid #858EAD !important;
  color: var(--body_color) !important;
}

.orange-btn{
  background: #FF4401;
  color: white;
  transition: background-color 0.2s ease;
  transition: transform 0.5s;
}

.orange-btn:hover{
  background: #262D34 !important;
  color: #FF4401 !important;
}

.favourite-btn{
  color: #171e24 !important;
  margin-top: -15px;
  padding: 0px;
  font-size: 1.5rem;
  display: flex;
  justify-items: center;
  align-items: center;
}

.favourite-btn:hover{
  color: red !important;
  animation: wobbleSlow 1s ease infinite; 
  scale: 1.3;
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #f50a0a;
  border-radius: 50%;
  animation: particleAnimation 2s infinite;
}

.scroll-container {
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: none; /* Firefox: Hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge: Hide scrollbar */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome: Hide scrollbar */
}

@keyframes particleAnimation {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(300px, 300px);
  }
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

@keyframes wobbleSlow {
  0% { transform: translateX(0%) rotate(0deg); }
  15% { transform: translateX(-10%) rotate(-3deg); }
  30% { transform: translateX(8%) rotate(2deg); }
  45% { transform: translateX(-6%) rotate(-2deg); }
  60% { transform: translateX(4%) rotate(1deg); }
  75% { transform: translateX(-2%) rotate(-1deg); }
  100% { transform: translateX(0%) rotate(0deg); }
}

.element-with-blur {
  position: relative;
  overflow: hidden; /* Ensure the pseudo-element stays within bounds */
}

.element-with-blur::before {
  content: "";
  position: absolute;
  top:-75px;
  left: 0;
  right: 0;
  height: 80px; /* Adjust this value based on how much blur you want */
  background: transparent;
  backdrop-filter: blur(50px); /* Adjust the blur intensity */
  z-index: 10; /* Make sure it sits above the content */
  opacity: 0.6;
  border:1px solid red;
}



